<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Profil</title>
		<script type='text/javascript' src="{% static 'assets/js/jquery.js' %}"></script>
		<script type='text/javascript' src="{% static 'assets/js/profile.js' %}"></script>
	</head>
	<body>
		<div id='profile'>
			<h2>Profil <span id='username'>{{ profil_owner.username }}</span></h2>
			<p>Name: {{ profil_owner.first_name }}</p>
			<p>Email: {{ profil_owner.email }}</p>
			<h2>licni podaci</h2>
			<p>Sex
				{% if profile.gender == 'm' %}
				male
				{% else %}
				female
				{% endif %}
			</p>
			<p>Date_of_birth {{ profile.date_of_birth }}</p>
			<p>State {{ profile.country }}</p>
			<p>City {{ profile.city }}</p>
			{% if permision %}
				<button id="button">klik</button>
			{% endif %}
		</div>
	</body>
</html>

