{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
	<h2>Profil <span id='username'>{{ profil_owner.username }}</span></h2>
		<p>Username: {{ profil_owner.username }}</p>
		<p>Email: {{ profil_owner.email }}</p>
	<div id='profile'>
		
		
		<h2>Licni podaci</h2>
		<p>Name {{ profile.name }}</p>
		<p>Sex 
		{% if profile.gender == 'm' %}
			Male
		{% else %}
			Female
		{% endif %}
		</p>
		<p>Date_of_birth {{ profile.date_of_birth }}</p>
		<p>State {{ profile.country }}</p>
		<p>City {{ profile.city }}</p>
		{% if permission %}
			<button id="edit_profile_btn">Edit profile</button>
		{% endif %}

		<img src="/media/{{ profile.profile_image }}" />
	</div>
{% endblock %}