{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Date Site{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href='{% static "assets/css/sitestyle.css" %}'>
		<script type='text/javascript' src="{% static 'assets/js/jquery2.js' %}"></script>
		<script type='text/javascript' src="{% static 'assets/js/default.js' %}"></script>
	</head>

	<body>

	<div class="header">
		{% block header %}
		<p><b>Logged in user: </b><a href="{% url 'user_profile' user.username %}">{{ user.profile.name }}</a></p>
		<p><b>Number of online users: </b>{{ user.profile.num_of_online }}</p>
		{% endblock %}
	</div>

	{% block content %}
	{% endblock %}

	{% block footer %}
	{% endblock %}
	</body>
</html>